<div class="quick-view-wrap pro_btn">  
   <a href="javascript:void(0)" data-id="{{ product.handle }}" class="quick-view-text for-home btn"><i class="mdi mdi-cached"></i>
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="92.000000pt" height="64.000000pt" viewBox="0 0 92.000000 64.000000" preserveAspectRatio="xMidYMid meet">
      <g transform="translate(0.000000,64.000000) scale(0.100000,-0.100000)" stroke="none">
        <path d="M331 614 c-30 -8 -77 -27 -105 -42 -66 -35 -164 -133 -199 -199 l-28 -53 28 -52 c35 -67 133 -165 199 -200 143 -77 325 -77 468 0 66 35 164 133 199 200 l28 52 -28 53 c-35 66 -133 164 -199 199 -105 56 -249 73 -363 42z m293 -102 c108 -50 205 -155 192 -206 -12 -47 -104 -134 -184 -173 -71 -36 -81 -38 -171 -38 -87 0 -103 4 -163 32 -110 52 -207 156 -194 207 16 66 163 181 262 206 72 18 187 5 258 -28z"/>
        <path d="M374 406 c-30 -30 -34 -40 -34 -86 0 -46 4 -56 34 -86 30 -30 40 -34 86 -34 75 0 120 45 120 120 0 46 -4 56 -34 86 -30 30 -40 34 -86 34 -46 0 -56 -4 -86 -34z"/>
      </g>
    </svg>
    <span class="tooltip-label">{{ 'products.quickveiw.quickveiw' | t }}</span></a>
</div>